<h1>{{hike.name}}</h1>
<h3>{{fullLocation}}</h3>

<div class="hike-image">
  <img src="{{hike.image}}"/>
</div>

<p>
  last updated:{{hike.timestamp}}<br>
  distance: {{hike.distance}} mi<br>
  difficulty: {{hike.difficulty}}<br>
</p>
